$header-bg-color: #222222;
$light-pink: #F1E4E6;
$header-width: 75px;
$dark-pink: #F16D7F;
$gray: #5D5D5D;
$light-gray: #9F9F9F;
$pink: #F26376;
$black: #222224;
$dark-gray: #6F6E6E;
$white: #FFFFFF;
$black: #000000;
$cart-gray: #575757;
$cart-price: #EF5B70;
$cart-value: #6F6E6E;

$desktop: 1600px;
$tablet: 768px;
$mobile: 375px;
