@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: #222222;
}
.header__navigation {
  display: none;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}
.header__loupe {
  margin: 0 0 0 34px;
}
.header__btn {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}
.header__person {
  margin: 0 34px 0 0;
}

.brand {
  display: flex;
}
.brand__img {
  background-color: #F1E4E6;
}
.brand__title-wrapper {
  background-color: #F1E4E6;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 0 0 91px;
}
.brand__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}
.brand__subtitle {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.brand__subtitle-pink {
  color: #F16D7F;
}

.offers {
  margin-top: 65px;
}
.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.offers__item {
  width: 360px;
  min-height: 260px;
  margin: 0 0 32px 0;
  color: white;
  background: #5D5D5D;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.offers__item-1 {
  background-image: url("img/offers-1.jpg");
}
.offers__item-2 {
  background-image: url("img/offers-2.jpg");
}
.offers__item-3 {
  background-image: url("img/offers-3.jpg");
}
.offers__item-4 {
  background-image: url("img/offers-4.jpg");
  width: 100%;
  min-height: 180px;
  margin: 0;
}
.offers__title {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.offers__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.featured {
  margin-top: 96px;
}
.featured__title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}
.featured__subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin: 6px 0 48px 0;
}
.featured__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.featured__item {
  width: 360px;
  min-height: 580px;
  background: #F8F8F8;
}
.featured__item-box {
  margin: 25px 16px 20px 16px;
}
.featured__item-img {
  width: 100%;
}
.featured__item-title {
  font-size: 13px;
  line-height: 16px;
}
.featured__item-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  padding-top: 13px;
}
.featured__item-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-top: 18px;
}
.featured__item-price::before {
  content: "$";
}
.featured__btn-box {
  display: flex;
  justify-content: center;
}
.featured__btn {
  min-width: 212px;
  min-height: 48px;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-color: transparent;
  border: 1px solid #F26376;
  margin-top: 48px;
}

.advantages {
  background-color: #222224;
  margin-top: 95px;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.advantages__item {
  min-width: 360px;
  min-height: 340px;
  color: #FBFBFB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.advantages__title {
  font-size: 19.96px;
  line-height: 24px;
  padding-top: 28px;
}
.advantages__description {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  padding-top: 16px;
}

.footer__wrapper-bg {
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__wrapper {
  background: rgba(244, 244, 244, 0.7);
}
.footer__subscribe {
  display: flex;
  justify-content: space-between;
}
.footer__subscribe-wrapper {
  margin-top: 97px;
  margin-bottom: 126px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__subscribe-img {
  margin-bottom: 30px;
}
.footer__subscribe-text {
  width: 360px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.footer__subscribe-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  margin-bottom: 30px;
}
.footer__subscribe-title_bold {
  font-weight: 700;
  font-size: 24px;
}
.footer__subscribe-form {
  height: 49px;
  display: flex;
}
.footer__subscribe-input {
  height: 100%;
  border: none;
  border-radius: 25px 0 0 25px;
  background-color: #E1E1E1;
  width: 256px;
  margin: 0;
  flex: 1;
}
.footer__subscribe-input::-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
  padding-left: 22px;
}
.footer__subscribe-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
  padding-left: 22px;
}
.footer__subscribe-input::placeholder {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
  padding-left: 22px;
}
.footer__subscribe-btn {
  height: 100%;
  color: #fff;
  background-color: #F16D7F;
  border: none;
  border-radius: 0 25px 25px 0;
  width: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.footer__rights {
  background-color: #222224;
}
.footer__rights-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.footer__rights-text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 7px;
}/*# sourceMappingURL=style.css.map */