@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

$header-bg-color: #222222;
$light-pink: #F1E4E6;
$header-width: 75px;
$dark-pink: #F16D7F;
$gray: #5D5D5D;
$light-gray: #9F9F9F;
$pink: #F26376;
$black: #222224;;

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

.header {
    background-color: $header-bg-color;

    &__navigation {
        display: none;
    }

    &__wrapper { 

        display: flex;
        justify-content: space-between;
        align-items: center;   
        min-height: $header-width;
    }

    &__loupe {
        margin: 0 0 0 34px;
    }

    &__btn {
        background-color: transparent;
        border: none;
        margin: 0 34px 0 0;
    }

    &__person {
        margin: 0 34px 0 0;
    }

 }


 .brand {
    display: flex;
    
    &__img {
        background-color: $light-pink;
    }

    &__title-wrapper {
        background-color: $light-pink;
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 0 0 0 91px;


    }

    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;

        text-transform: uppercase;
    }

    &__subtitle {
        display: block;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    }

    &__subtitle-pink {
        color: $dark-pink;
    }

}

.offers {

    margin-top: 65px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;  
    }        

    &__item {
        width: 360px;
        min-height: 260px;
        margin: 0 0 32px 0;
        color: white;
        background: $gray;   
        background-repeat: no-repeat;

        display: flex;
         flex-direction: column;
        justify-content: center;
        align-items: center;

        text-transform: uppercase;
    }

    &__item-1 {
        background-image: url('img/offers-1.jpg');
    }
    &__item-2 {
        background-image: url('img/offers-2.jpg');
    }
    &__item-3 {
        background-image: url('img/offers-3.jpg');
    }
    &__item-4 {
        background-image: url('img/offers-4.jpg');
        width: 100%;
        min-height: 180px;
        margin: 0;
    }

    &__title {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }

    &__subtitle {

        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        color: $dark-pink;
    }

}

.featured {

    margin-top: 96px;

    &__title {
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        text-align: center;
    }

    &__subtitle {
        font-size: 14px;
        line-height: 17px;
        color: $light-gray;
        text-align: center;
        margin: 6px 0 48px 0;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;    
    }

    &__item {
        width: 360px;
        min-height: 580px;

        background: #F8F8F8;;
    }

    &__item-box {
        margin: 25px 16px 20px 16px;
    }

    &__item-img {
        width: 100%;
    }

    &__item-title { 
        font-size: 13px;
        line-height: 16px;
    }
  
    &__item-description {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $light-gray;

        padding-top: 13px;
    }

    &__item-price {
        font-size: 16px;
        line-height: 19px;
        color: $dark-pink;
    
        padding-top: 18px;}

    &__item-price::before {
        content: '$';
    }

    &__btn-box {
        display: flex;
        justify-content: center;
    }

    &__btn {

        min-width: 212px;
        min-height: 48px;

        font-size: 16px;
        line-height: 19px;
        color: $pink;

        background-color: transparent;
        border: 1px solid $pink;

        margin-top: 48px;
    }

}

.advantages {

    background-color: $black;
    margin-top: 95px;
   

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item { 
        min-width: 360px;
        min-height: 340px;
        color: #FBFBFB;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        flex: 1;
        
    }

    &__title {
        font-size: 19.96px;
        line-height: 24px;  
        padding-top: 28px;
    }

    &__description {
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        padding-top: 16px;
    }

}


.footer {

    &__wrapper-bg{
        background-image: url('/img/footer-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__wrapper {
        background: rgba(244, 244, 244, 0.7);    
    }
    
    &__subscribe {
        display: flex;
        justify-content: space-between;
    }

    &__subscribe-wrapper {
        margin-top: 97px;
        margin-bottom: 126px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    &__subscribe-img {
        margin-bottom: 30px;
    }

    &__subscribe-text {
        width: 360px;
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }

    &__subscribe-title {
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 167.2%;
        margin-bottom: 30px;
    }

    &__subscribe-title_bold {
        font-weight: 700;
        font-size: 24px;
    }

    &__subscribe-form {               
        height: 49px; 
        display: flex;
    }

    &__subscribe-input {
        height: 100%; 
        border: none;
        border-radius: 25px 0 0 25px;
        background-color: #E1E1E1;;
        width: 256px;
        margin: 0;
        flex: 1;
    }

    &__subscribe-input::placeholder {
        font-size: 14px;
        line-height: 17px;
        opacity: 0.67;
        color: $black;

        padding-left: 22px;
    }
    

    &__subscribe-btn {
        height: 100%;
        color: #fff;
        background-color: $dark-pink;
        border: none;
        border-radius: 0 25px 25px 0;
        width: 100px;

        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    &__rights {
        background-color: $black;
    }

    &__rights-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 80px;
    }

    &__rights-text {
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;  
    }

    &__social-list {
        display: flex;
        justify-content: space-between;

        gap: 7px;
    }

}
