.footer {

    &__wrapper-bg{
        background-image: url('/img/footer-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__wrapper {
        background: rgba(244, 244, 244, 0.7); 
        padding: 0 32px;   
        
    }
    
    &__subscribe {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;  
        min-height: 448px; 

        @include tablet {
            justify-content: center;
            min-height: 0; 
            padding-top: 64px;
            padding-bottom: 140px;
            gap: 48px;
        }

    }

    &__subscribe-wrapper {

        width: 360px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    &__subscribe-img {
        margin-bottom: 30px;
    }

    &__subscribe-text {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }

    &__subscribe-title {
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 167.2%;
        margin-bottom: 30px;
    }

    &__subscribe-title_bold {
        font-weight: 700;
        font-size: 24px;
    }

    &__subscribe-form {               
        height: 49px; 
        display: flex;
    }

    &__subscribe-input {
        height: 100%; 
        border: none;
        border-radius: 25px 0 0 25px;
        background-color: #E1E1E1;;
        width: 256px;
        margin: 0;
        flex: 1;

        padding-left: 22px;
        box-sizing: border-box;
        outline: none;
    }

    &__subscribe-input::placeholder {
        font-size: 14px;
        line-height: 17px;
        opacity: 0.67;
        color: $black;
    }
    
    &__subscribe-btn {
        height: 100%;
        color: #fff;
        background-color: $dark-pink;
        border: none;
        border-radius: 0 25px 25px 0;
        width: 100px;

        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
    }

    &__rights {
        background-color: $black;
        padding: 0 32px;
    }

    &__rights-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 80px;
    }

    &__rights-text {
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;  
    }

    &__social-list {
        display: flex;
        justify-content: space-between;

        gap: 7px;
    }

    &__social-svg {

        fill: #FFFFFF;
        &:hover {
            fill: $dark-pink;
        }

        &:hover .footer__social-svg-pattern {
            fill: #FFFFFF; 
        }

    }

    &__social-svg-pattern{
        fill: #000000;
    }

}